@media (max-width: 1440px) {
    #oglasna-main {
        padding: 3rem;
    }
}

@media (max-width: 1024px) {
    footer {
        gap: 10%;
    }

    #sidebar iframe {
        display: none;
    }
}

@media (max-width: 500px) {
    #openNav {
        display: block;
        padding: 10px;
    }

    #nav-bar ul {
        flex-direction: column;
        display: none;
        gap: 1%;
    }

    #nav-bar {
        justify-content: left;
    }

    #nav-bar .responsive {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }

    #closeNav {
        float: left;
        margin: 16px;
    }

    #vizija-section {
        padding: 0 1rem;
    }

    #struki .container,
    #za-usilisteto .container,
    #vizija-section .container,
    footer {
        flex-direction: column;
    }

    section {
        padding: 3rem;
    }

    #za-usilisteto .map iframe {
        width: 100%;
    }

    .gallery-section {
        padding: 0;
        margin: 0;
    }

    .gallery-section .container {
        height: 60vh;
    }

    .gallery-section button {
        padding: 5px;
    }

    #vizija-section .right img {
        width: 100%;
        margin: 4vh 0;
    }

    #links #link-wrapper {
        width: 40%;
    }


    .spacer {
        height: 10vh;
    }

    #ul-links,
    #ul-info {
        text-align: center;
    }

    footer {
        padding: 1rem;
    }

    #logo-footer {
        padding: 3rem;
    }

    .text-image {
        flex-direction: column;
    }

    .text-image img {
        width: 100%;
        padding: 30px 0;
    }

    #za-nas-tabela {

        overflow-x: scroll;
    }

    #struki .struka {
        background-size: cover;
    }

    #kadar-main {
        padding: 0;
    }

    #menadzerski-tim {
        flex-direction: column;
    }

    #menadzerski-tim .left,
    #menadzerski-tim .right {
        width: auto;
        padding: 1rem;
    }

    #profesori .container {
        flex-direction: column;
    }

    #profesori .container .group {
        width: auto;
        padding: 2vh 0;
    }

    #oglasna-main,
    #oglasna-main article {
        flex-direction: column;
    }

    #oglasna-main article img {
        width: 100%;
        padding: 10px 0;
    }

    #kontakt-main .container {
        flex-direction: column;
    }

    #sidebar {
        display: none;
    }

    .oglasna-post {
        padding: 3rem;
    }

    #vizija-section .info {
        flex-direction: column;
    }
    
    .paralelka,
    .masinski .paralelka {
        width: auto;
    }

    #struki .struka:hover {
        background-size: 100%;
    }

    #struki {
        padding: 1rem;
    }

    .struka h3 {
        font-size: 3vh;
    }
}