@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --primary-color: rgb(0, 141, 218);
    --secondary-color: rgb(65, 201, 226);
    --tertiary-color: rgb(172, 226, 225);
    --custom-white: rgb(172, 226, 225);
    --shadow-color: rgb(66, 66, 66);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: default;
}

header {
    background-color: var(--primary-color);
    box-shadow: 0px 5px 15px white;
    font-family: Russo One;
    letter-spacing: 2px;
    padding-top: 2rem;
}

header h1,
header h2 {
    text-align: center;
    padding: 3px;
    animation: slide-down .7s;
}

header h1 {
    font-size: 3.8vh;
}

#lang-select p {
    display: inline-block;
    text-decoration: none;
}

#lang-img {
    width: 30px;
}

#lang-select {
    margin: 10px;
}

#nav-bar button {
    border: 0;
    background-color: transparent;
}

#openNav,
#closeNav {
    display: none;
}

.responsive {
    width: 100%;
}

#nav-bar {
    z-index: 99;
    background-color: rgb(0, 71, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nav-bar ul { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    list-style-type: none;
}

#nav-bar ul li:hover {
    scale: 1.1;
    text-decoration: underline;
}

#nav-bar ul li {
    transition: .3s ease;
    padding: 20px 0;
}

#nav-bar ul li a {
    color: white;
    text-decoration: none;
}

main {
    background-image: url(images/Sou_goso_vikentiev2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    z-index: 1;
    color: white;
}

main h3 {
    font-size: 5vh;
}

main p {
    font-size: 2.2vh;
}

main .container {
    z-index: 3;
    padding: 4rem;
    height: 25vh;
}

.spacer {
    height: 15vh;
}

.layer {
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

#zapisiSeBtn {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

#strukiBtn {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

section {
    padding: 1rem 12rem;
}

section h4 {
    font-size: 2.8vh;
}

#struki {
    padding-top: 3rem;
}

#struki .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.struka-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.struka-main p {
    color: white;
    font-size: 1.7vh;
}

.struka-main img {
    width: 150px;
    padding: 20px;
}

.struka-main a {
    padding: 16px;
    text-decoration: none;
    color: var(--custom-white);
    font-size: 1.7vh;
}

#hr1 {
    border-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
}

#za-usilisteto .container {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 8%;
}

#za-usilisteto .text {
    padding: 3rem 0;
}

#za-usilisteto a {
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#za-usilisteto p {
    font-size: 1.8vh;
}

#za-usilisteto h4 {
    padding: 10px 0;
}

#za-usilisteto .map iframe {
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
}

/*image slider*/

.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.gallery .container {
    width: 50vh;
    height: 50vh;
    box-shadow: 0 0 6px black;
    border-radius: 5px;
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.gallery-section button {
    background-color: var(--tertiary-color);
    color: white;
    border: 0;
    padding: 14px;
    z-index: 0;
    text-align: center;
    transition: .25s ease;
}

.gallery-section button:hover {
    background-color: var(--secondary-color);
}

.gallery-section button:active {
    background-color: var(--main-color);
}

.gallery-section button svg {
    fill: rgb(99, 99, 99);
}

.gallery-section #left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gallery-section #right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*end of gallery style*/

#vizija-section {
    padding: 0 22vh;
}

#vizija-section .container {
    display: flex;
    justify-content: center;
    align-items: top;
}

#vizija-section #lightBlue {
    color: var(--custom-white);
}

#vizija-section #main-text {
    padding: 16px 0;
    width: 80%;
}

#vizija-section .right img {
    width: 110%;
    box-shadow: 0 0 5px var(--shadow-color);
}

#vizija-section .info {
    display: flex;
    gap: 5%;
    font-size: 2vh;
}

#vizija-section .info p {
    padding: 5px;
    font-weight: bold;
}

#vizija-section .info .number {
    color: rgb(255, 230, 0);
    font-size: 3vh;
}

#links {
    text-align: center;
}

#links h4 {
    padding: 16px;
}

#links .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

#links #link-wrapper {
    width: 16%;
}

#links #link-wrapper img {
    width: 100%;
}

#link-wrapper:hover {
    box-shadow: 0 0 5px var(--shadow-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    font-size: 2vh;
}

footer p,
footer #ul-info {
    text-align: left;
    padding: 10px;
}

#ul-links {
    text-align: right;
    padding: 10px;
    list-style-type: none;
}

#ul-info {
    list-style-type: none;
}

#ul-links a,
#ul-info a {
    text-decoration: none;
    color: white;
    transition: .1s;
}

#ul-links a:hover {
    color: rgb(206, 206, 206);
}

.img-center {
    transition: .2s ease-in-out;
}

.img-center:hover {
    filter: drop-shadow(0px 0px 10px #4444dd);
}

.last-element {
    text-align: center;
    background-color: blue;
    padding: 10px;
}

/*custom scrollbar*/
/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 140, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 108, 231);
}
